<table>
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <% Object.entries(hook).map(([key, value]) => { %>
        <tr>
            <td><%= key %></td>
            <td><%= value %></td>
        </tr>
        <% }) %>
    </tbody>
</table>
