<h1>Hooks</h1>
<table>
  <thead>
    <tr>
      <th>Hook</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% hooks.map(hook => { %>
    <tr>
      <td>
        <a href="<%= pathWithPrefix(`/${hook.hook_id}`) %>"><%= hook.name %></a>
      </td>
      <td><%= hook.description %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<a href="<%= pathWithPrefix('/new') %>">Create Hook</a>
