<h1>Create Hook</h1>
<form action="<%= pathWithPrefix('/new') %>" method="post">
  <fieldset>
    <legend>Hook</legend>
    <label for="name">Hook Name</label>
    <input type="text" id="name" name="name" required />
    <br/>
    <label for="description">Description</label>
    <input type="text" id="description" name="description" />
    <br/>
    <label for="uid">User</label>
    <select name="uid" id="uid">
      <% users.map(user => { %>
      <option value="<%= user.uid %>"><%= user.username %></option>
      <% }) %>
    </select>
    <br/>
    <label for="gid">Group</label>
    <select name="gid" id="gid">
      <% groups.map(group => { %>
      <option value="<%= group.gid %>"><%= group.name %></option>
      <% }) %>
    </select>
    <br/>
    <label for="command">Command</label>
    <input type="text" name="command" id="command" required />
    <br/>
    <label for="cwd">Working Directory</label>
    <input type="text" id="cwd" name="cwd" required />
  </fieldset>

  <button type="submit">Create</button>
</form>
